body,html {
  margin: 0;
  padding: 0;
}

.card:hover {
  transform: scale(1.02);
  transition: .5s ease;

}



#highlightStyles {
  color: orange;
  animation: appear 3s ease-in;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.contactHeading {
  margin-left: 2em;
}

.form {
  color: black;
  padding: 6px;
  margin: 2em;
}

/* .options {
  color: darkgreen;
} */



.submitButton {
  color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .7);
}

.submitButton:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
  color: orange;
  transform: scale(1.03);
}

.navIcons:hover {
  transform: scale(1.1);
  color: orange;
}

.link {
  color: white;
}

.link:hover {
  transform: scale(1.03);
  color: orange;
}

.socials-btn:hover{
  transform: scale(1.03);
  color: orange;
}

@media (max-width: 767px) {
  body {
    height: 100vh;
    overflow-x:hidden;
  }

  #form-container {
    width: 100vw;
  }
}